.LaunchDetails {
    margin-top: 30px;
    color: cornsilk;
}

.image-div {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.video-a {
    text-decoration: none;
    color: cornsilk;
    padding: 5px;
    display: inline-block;
}

img {
    max-width: 90%;
    margin-top: 10px;
}

h2 {
    text-decoration-line: underline;
}